.frame-12 .vector {
  margin: 0 27.7px 0px 0;
  width: 33px;
  height: 33px;
}
.frame-12 .linkedin {
  width: 31.2px;
  height: 29.7px;
}
.frame-12 .social-4 {
  margin: 0.1px 28px 3.2px 0;
  display: flex;
  width: 31.2px;
  height: 29.7px;
  box-sizing: border-box;
}
.frame-12 .group-2 {
  margin-top: 3.7px;
  width: 41.2px;
  height: 29.3px;
}
.frame-12 .container {
  margin: 20px 0 26px 0;
  display: flex;
  flex-direction: row;
  width: 161px;
  height: fit-content;
  box-sizing: border-box;
}
.frame-12 .image-5 {
  background: url('../assets/images/image_5.png');
  margin-bottom: 5px;
  width: 294px;
  height: 74px;
}
.frame-12 .image-4 {
  background: url('../assets/images/image_5.png');
  width: 179px;
  height: 79px;
}
.frame-12 {
  background: #0F3222;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 13px 116px 8px 85px;
  width: 1440px;
  box-sizing: border-box;
}
